---
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import BlogGrid from '@/components/BlogGrid.astro';
import BlogCard from '@/components/BlogCard.astro';
import BlogPagination from '@/components/BlogPagination.astro';
import { siteConfig } from '@/config/site';
import { getPostsByLocale, getSlug } from '@/lib/posts';

export async function getStaticPaths() {
  const pageSize = siteConfig.blog.paginationSize;
  const allPosts = await getPostsByLocale('ko');
  const totalPages = Math.ceil(allPosts.length / pageSize);
  return Array.from({ length: totalPages - 1 }, (_, i) => ({
    params: { num: String(i + 2) },
  }));
}

const pageSize = siteConfig.blog.paginationSize;
const allPosts = await getPostsByLocale('ko');
const totalPages = Math.ceil(allPosts.length / pageSize);
const currentPage = Number(Astro.params.num);
const posts = allPosts.slice((currentPage - 1) * pageSize, currentPage * pageSize);
---

<Layout>
  <Container class="px-4">
    <div class="mt-8">
      <BlogGrid>
        {
          posts.map((post) => (
            <BlogCard
              slug={getSlug(post.id)}
              title={post.data.title}
              date={post.data.date}
              locale="ko-KR"
              basePath="/ko"
              pinned={post.data.pinned}
            />
          ))
        }
      </BlogGrid>
    </div>
    <BlogPagination
      currentPage={currentPage}
      totalPages={totalPages}
      basePath="/ko"
    />
  </Container>
</Layout>
